@font-face {
  font-family: Vazir;
  src: url("font/Vazir.eot");
  src: url("font/Vazir.eot?#iefix") format("embedded-opentype"),
    url("font/Vazir.woff") format("woff"),
    url("font/Vazir.ttf") format("truetype");
  font-weight: normal;
}
/* bgColor  #0e0d0d
fontColor  #e6e6e6
hover     #cc4f51  */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Vazir";
  direction: rtl;
  background-color: #0e0d0d;
  color: #e6e6e6;
  margin: 0;
}
